@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-slate-900 antialiased;
}

.glass-card {
  @apply bg-white/70 backdrop-blur-xs border border-white/40 shadow-glass rounded-2xl;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}

